# EDA - Proyecto final módulo Data Analysis
### The Bridge - Data Science (Part Time) - Sevilla

<img src="misc\TheBridge_logo.png" width="750"/>

----

## Análisis de relaciones y tendencias en la música más escuchada de 2022.

### Premisas:
- ¿Cómo se desmarca España del resto del mundo en tendencias? 
- ¿Existe algún parámetro que nos permita relacionar (y anticipar) qué música es la más escuchada? 
- ¿Concuerda dicha popularidad con los conciertos que dan los artistas?

### Obtención de datos:
- **Spotify**: Usaremos la API de Spotify para acceder a las playlist y desde ellas, obtener todos los parámetros relacionados.<br>
    *Ver notebook "1 - Spotify"*


- **Songkick**: De esta plataforma obtendremos los conciertos dados por los artistas. Ya que el programa de APIs está en stand-by, usaremos webscrapping para sacar la info.<br>
*Ver notebook "2 - Scrapping Conciertos"*

### Conjuntos de datos:

- Playlist "Top Tracks 2022"

In [5]:
import pandas as pd

df_top_world = pd.read_csv('data/df_top_world.csv', sep=';')
df_top_world.head()

,Ranking,Region,Track_Name,Track_ID,Track_Main_Artist,Album_Name,Album_ID
0,1,WORLD,As It Was,4LRPiXqCikLlN15c3yImP7,Harry Styles,As It Was,2pqdSWeJVsXAhHFuVLzuA8
1,2,WORLD,Heat Waves,02MWAaffLxlfxAUY7c5dvx,Glass Animals,Dreamland (+ Bonus Levels),0KTj6k94XZh0c6IEMfxeWV
2,3,WORLD,STAY (with Justin Bieber),5HCyWlXZPP0y6Gqq8TgA20,The Kid LAROI,STAY (with Justin Bieber),4QLAtpLNUsHEYrcHXmMIZZ
3,4,WORLD,Me Porto Bonito,6Sq7ltF9Qa7SNFBsV5Cogx,Bad Bunny,Un Verano Sin Ti,3RQQmkQEvNCY4prGKE6oc5
4,5,WORLD,Tití Me Preguntó,1IHWl5LamUGEuP4ozKQSXZ,Bad Bunny,Un Verano Sin Ti,3RQQmkQEvNCY4prGKE6oc5

- Playlist "Top Canciones 2022 España"

In [6]:
df_top_spain = pd.read_csv('data/df_top_spain.csv', sep=';')
df_top_spain.head()

,Ranking,Region,Track_Name,Track_ID,Track_Main_Artist,Album_Name,Album_ID
0,1,SPAIN,"Quevedo: Bzrp Music Sessions, Vol. 52",2tTmW7RDtMQtBk7m2rYeSw,Bizarrap,"Quevedo: Bzrp Music Sessions, Vol. 52",4PNqWiJAfjj32hVvlchV5u
1,2,SPAIN,Tití Me Preguntó,1IHWl5LamUGEuP4ozKQSXZ,Bad Bunny,Un Verano Sin Ti,3RQQmkQEvNCY4prGKE6oc5
2,3,SPAIN,La Bachata,5ww2BF9slyYgNOk37BlC4u,Manuel Turizo,La Bachata,1TpGeAzOJgAGdPkcWl95r2
3,4,SPAIN,Me Porto Bonito,6Sq7ltF9Qa7SNFBsV5Cogx,Bad Bunny,Un Verano Sin Ti,3RQQmkQEvNCY4prGKE6oc5
4,5,SPAIN,"Tiago PZK: Bzrp Music Sessions, Vol. 48",6VAS7m73rDopQe7BdrFMpD,Bizarrap,"Tiago PZK: Bzrp Music Sessions, Vol. 48",2Mlyp5GSTI9XzBX7DrBuVn

- Conciertos dados por los artistas de cada playlist

In [7]:
df_concerts_world = pd.read_csv('data/concerts_world.csv', sep=';')
df_concerts_world.head()

  Track_Main_Artist       Fecha     Ciudad Pais
0             Adele  2022-12-31  Las Vegas   US
1             Adele  2022-12-30  Las Vegas   US
2             Adele  2022-12-24  Las Vegas   US
3             Adele  2022-12-23  Las Vegas   US
4             Adele  2022-12-17  Las Vegas   US

In [8]:
df_concerts_spain = pd.read_csv('data/concerts_spain.csv', sep=';')
df_concerts_spain.head()

  Track_Main_Artist       Fecha       Ciudad    Pais
0            Aitana  2022-12-20       Madrid   Spain
1            Aitana  2022-11-16     Santiago   Chile
2            Aitana  2022-11-04       Madrid   Spain
3            Aitana  2022-10-15    Monterrey  Mexico
4            Aitana  2022-10-14  Mexico City  Mexico

### Estructura del proyecto:

1. **API_Spotify**: Obtención de datos mediante API y explicación de todos los parámetros usados.
2. **Scrapping Conciertos**: Extracción de los conciertos dados por los artistas usando BeautifulSoup.
3. **Exploratorio**: Análisis de los datos.